<html>  
<head>  
    <title>upload</title>  
</head>
<style type="text/css">
	
	body{background-color:black;color:yellow}
		h1 {color:cyan;font-family:Bradley Hand ITC;text-align:center;border-color:red;border-width:3px;border-style:dashed}
    form 
    {
    width: 500px;
    margin: 150px auto;
    border-color:red;border-width:4px;border-style:dashed
    
    }
</style>  
<body>
    <h1>Upload your picture to Cartoonize it <br><br> 
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <br></br>
        <input type="file" name="file"  /><br></br>  
        <input type = "submit" value="Upload"> 
        <br></br>
    </form>  
</body>  
</html>

